.flex-container {
    display: flex;
    flex-direction: column;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    background: rgba(255, 188, 44, 0.493)
}

div.post {
    padding: 2px;
    border: 1px solid black;
    border-radius: 20px;
    width: 450px;
    background: rgba(255, 255, 255, 0.5)
    
}
img {
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}
div.comment {
    padding: 2px;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    background: rgb(255, 255, 255, 0.5)
}
body {
    background: rgb(230, 188, 151);
    margin: 0;
    background-size: 100px;
    z-index: -1;
}
header {
    position: fixed;
    width: 100%;
    top: 1;
    z-index: 5;
    background-color: rgb(65, 65, 65);
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav div.search-container > input {
    width: 85%;
}

nav div.search-container > button {
    box-sizing: border-box;
    border: 1px solid lightblue;
    cursor: pointer;
}

nav div.search-container {
    display: flex;
    place-content: space-between;
    width: 25%;
    padding: 10px;
}

div.flex-container p {
    display: flex;
    place-content: end;
    margin: 0 16px 0 0;
}

div h1 {
    font-family:Arial, Helvetica, sans-serif;
    
}
div h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}
div h3 {
    color: rgb(0, 0, 0);
  }
div ~ h3 {
    color: rgb(255, 123, 0);
  }
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}